<h1>Listing stories</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Boardid</th>
    <th>Text</th>
    <th>Lane</th>
    <th>Color</th>
    <th>Lastmodif</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stories.each do |story| %>
  <tr>
    <td><%= story.id %></td>
    <td><%= story.boardid %></td>
    <td><%= story.text %></td>
    <td><%= story.lane %></td>
    <td><%= story.color %></td>
    <td><%= story.lastmodif %></td>
    <td><%= link_to 'Show', story %></td>
    <td><%= link_to 'Edit', edit_story_path(story) %></td>
    <td><%= link_to 'Destroy', story, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Story', new_story_path %>
