
<% content_for :javascripts do %>
<%= include_gon %>
<%= javascript_include_tag "http://faye.dev-ice.com/faye.js","faye_client","editable","scrumboard" %>
<% end %>

<div id="toolbox">
			<select id="colorselect">
			  <option>Classic</option>
			  <option>Blue</option>
			  <option>Green</option>
			  <option>Orange</option>
			  <option>Purple</option>
			  <option>Pink</option>
			  <option>Red</option>
			</select>
			<span id="addStory">+</span>
			<hr />
			</div>
			<div id="scrumboard<?php echo $id;?>">
			<div id="columnheaders">
			<h3 class="columnheader">Take Off</h3>
			<h3 class="columnheader">In Flight</h3>
			<h3 class="columnheader">Landed</h3>
			</div>
			<div id="take-off" class="column">
			<% @take_off.each do |story| %>
				<div class="post-it <%= story.color %>" id="ticket<%= story.id %>">
					<div class="window_tools">
					<span class="ui-icon ui-icon-minusthick">minimize</span><span class="ui-icon ui-icon-plusthick">maximize</span><span class="ui-icon ui-icon-closethick">close</span>
					</div>
					<p><%= story.text %></p>
				</div>
				<% end %>
			</div>
			<div id="in-flight" class="column">
			<% @in_flight.each do |story| %>
				<div class="post-it <%= story.color %>" id="ticket<%= story.id %>">
					<div class="window_tools">
					<span class="ui-icon ui-icon-minusthick">minimize</span><span class="ui-icon ui-icon-plusthick">maximize</span><span class="ui-icon ui-icon-closethick">close</span>
					</div>
					<p><%= story.text %></p>
				</div>
				<% end %>
			</div>
			<div id="landed" class="column">
			<% @landed.each do |story| %>
				<div class="post-it <%= story.color %>" id="ticket<%= story.id %>">
					<div class="window_tools">
					<span class="ui-icon ui-icon-minusthick">minimize</span><span class="ui-icon ui-icon-plusthick">maximize</span><span class="ui-icon ui-icon-closethick">close</span>
					</div>
					<p><%= story.text %></p>
				</div>
				<% end %>
			</div>
			</div>